<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  {{ '  <link rel="stylesheet" href="../../' ~ '../'*nsubdir ~ 'bootstrap/css/bootstrap.css">' }}
  <!-- My post CSS -->
  {{ '  <link rel="stylesheet" href="../../' ~ '../'*nsubdir ~ 'style/posts.css">' }}

  <title>Joshua L. Laughner - {{ posttitle }}</title>

<!-- Styles to help debug the layout by coloring the columns -->
<style type="text/css">
    /* Some custom styles to beautify this example */
    .demo-content{
        padding: 15px;
        font-size: 18px;
        min-height: 300px;
        background: #dbdfe5;
        margin-bottom: 10px;
    }
    .demo-content.bg-alt{
        background: #abb1b8;
    }
</style>

</head>
<body>

  <!-- Much more explanatory tutorial than the docs (which don't deserve the name):
       https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/ -->

  <!-- bootstrap works by allowing you to define different behaviors for
       different size screens. Classes with the -xs, -sm, -md, or -lg extensions
       are defined to behave differently on different size screens. Here, the
       navbar-expand-md tag means that on medium size screens, the nav bar will
       have all the buttons visible, but on small and extra-small screens (mainly)
       phones and tablets) will require a button press to bring up the nav bar buttons -->
 <nav class="navbar navbar-expand-md navbar-dark bg-dark" id="navMenu"><font color="white">
   If you are seeing this text, you have JavaScript disabled. Allow it for this domain to enable the menu bar.</font>
 </nav>

  <div class="container-fluid">
    <div class="row">&nbsp;</div>

    <div class="row">
      <div class="col-sm-2 col-md-3 d-none d-sm-block"></div>
      <div class="col-xs-12 col-sm-8 col-md-6 d-block d-lg-none">
        <!-- Collapsible table of contents for small screens-->
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title" style="text-align:center">
                <a data-toggle="collapse" href="#collapse-toc">Other posts &#9662;</a>
              </h4>
            </div>
            <div id="collapse-toc" class="panel-collapse collapse">
              <div class="panel-body post-toc">{{ toc }}</div>
            </div>
          </div>
        </div>
        <!-- End collapsible TOC -->
      </div>
      <div class="col-sm-2 col-md-3 d-none d-sm-block"></div>
    </div>

    <div class="row">
      <div class="col-xs-12 d-block d-lg-none">&nbsp;</div>
    </div>

    <div class="row">
        <div class="col-sm-1 d-none d-sm-block"></div>
        <div class="col-xs-12 col-sm-10 col-lg-7">
        {{ postbody }}
        </div>
        <div class="col-lg-4 col-xl-3 d-none d-lg-block">
            <div class="post-toc">
              {{ toc }}
            </div>
        </div>
        <div class="col-sm-1 d-none d-sm-block d-lg-none d-xl-block"></div>
    </div>
    <div class="row">&nbsp;</div>

    <!--
    <div class="row">
        <div class="col-xs-12 d-block mx-auto" >
          <a class="btn btn-info" href="phd-research.html" role="button">Go to previous research</a>
        </div>
    </div>

    <div class="row">&nbsp;</div>
    <hr>
    -->

    <div id="myfooter" align="center">If you are seeing this text, JavaScript is disabled. Please enable it to see the footer.</div>
  </div>

  <!--Nav bar and footer script-->
{{ '  <script type="text/javascript" src="../../' ~ '../' * nsubdir ~ 'scripts/navigation.js"></script>' }}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>
